<div class="container">
<h1>Login</h1>
	<%= form_tag '/login' do %>
	<div class="input-group">
 		<input type="text" id='username' name='username' class="form-control" placeholder="Username">
		<input type="password" id='password' name='password' class="form-control" placeholder="Password">
		<label></label>
	</div>

		<button>Submit</button>
	<% end %>
</div>