<div class="container">
	<h1>Other parents in your area!</h1>
	<ul>
		<% @users.each do |user| %> 
		<div class="index_box">
		<li> <%= link_to user.username, user  %> </li>
		</div>
		<% end %>
	</ul>
</div>