<header id="top" class="header">

    <div class="text-vertical-center">
    	<div class="container">
	        <h1>Little Wheels</h1>
	        <h3>Building a ride-sharing community of parents to get our children to school safely and on time.</h3>
	        <br>
	        <div class="inline">
		    <% if @current_user %>
		        <a href=<%= user_path(@current_user) %> class="btn btn-dark btn-lg">My Profile</a>


		    <% else %>
		        <a href="/users/new" class="btn btn-dark btn-lg">Sign Up</a>
		        <a href="/login" class="btn btn-dark btn-lg">Login</a>
		    <% end %>
		    </div>

		    <br>
		    <div class="home_page_login">
		    <%= form_tag '/login' do %>
			<div class="input-group">
		 		<input type="text" id='username' name='username' class="form-control" placeholder="Username">
				<input type="password" id='password' name='password' class="form-control" placeholder="Password">
				<label></label>
			</div>
			<button>Submit</button>
			</div>
	<% end %>
       </div>
    </div>
</header>