
body {
	margin: 0;
}
.container {
	max-width: 960px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 100px
}

.header {
	color: white;
	text-shadow: 2px 2px black;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    text-align: right;	
	padding-right: 1em;
    list-style-type: none;
}

.nav_bar_top {
	padding: 15px;
	font-size: 1.2em;
	background-color: #FFE168;
}


.nav_bar_top li {
	display: inline;
	text-align: center;
	padding-left: 100px;

}

input, label, select, submit {
	font-size: 1em;
	width: 180px;
	display: inline-block;
	text-align: left;
}

.index_box {
	width: 100%;
	height: 200px;
	box-shadow: 5px 5px gray;
	background-color: #FFE168;
	color: black;
	padding: 5px;
	margin-bottom: 10px;
}

.index {
	display: inline-table;
	width: 300px;
	height: 100%;
	vertical-align: top;
	overflow: hidden;
}

.index img {
	height: 100%;
	width: auto;
	text-align: right;
}

.show_column {
	width: 300px;
	background-color: #FFE168;
	display: inline-table;
	vertical-align: top;
	padding: 5px;
	text-align: center;
}

.show_column img {
	width: 200px;
	height: 200px;
	padding: 10px;
	border-radius: 100%;
}

.show_box {
	width: 100%;
	border: 1px dashed black;
	text-align: left;
}

.show_box_smaller {
	display: inline-block;

}

.show_box_smaller img {
	height: 100px;
	width: 100px;
	border-radius: 100%;
}

.inline .btn {
	display: inline-block;
	width: 100px;
	margin: 10px;
}

.profile_icon {
	margin-left: 10px;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	position: absolute;
	float: top;
	z-index: 100000;
}

.icon {
	vertical-align: top;
	display: inline-block;
}